$padding: 0;
h2 {
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
}
.box-usuario {
    background-color: #F7F7F7;
    margin-bottom: 15px;
    min-height: 120px;
    border-radius: 5px;
    border-left: 2px solid #000;
}
.box-usuario-topo {
    margin-left: auto;
    margin-right: auto;
}
.box-usuario img {
    max-width: 80px;
    border-radius: 5px;
    margin: 20px 0px 0px 20px;
}
.box-usuario-text {
    padding: 20px;
}
.box-icons i {
    color: #797979;
    margin-left: 5px;
    cursor: pointer;
}
.box-icons {
    margin-top: 40%;
}
.box-centro {
    margin-left: auto;
    margin-right: auto;
    max-width: 588px;
}
.paginacao {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #4094ff;
    cursor: pointer;
}
.paginacao-ativa {
    color: #4094ff;
}
.paginacao-inativa {
    color: #d1d1d1;
}
.box-paginacao {
    text-align: center;
}
.text-right {
    text-align: right;
}
.nav-menu li {
    list-style: none;
    display:inline-block;
    padding: 10px;
}
.nav-menu li a{
}
.nav-menu {
    background-color: #f5f5f5;
}
.form-usuario {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-usuario label {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
.form-usuario input, .form-usuario select {
    margin-bottom: 30px;
    height: 55px;
}
